.container {
    padding: 10px 0;
    width: 1055px;
    margin: 0 auto;
    background: black;
}

header {
    background: black;
    height: 38px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header li {
    float: left;
    margin-left: 40px;
}

header li:first-child {
    margin-right: 12px;
}

header h1, header a {
    font-size: 14.5px;
    font-family: ralewaylight;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3px;
}

span {
    color: rgb(39, 199, 171);
    font-family: ralewaybold;
}

.introduction {
    height: 503px;
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
}
