.container {
    padding: 10px 0;
    width: 1055px;
    margin: 0 auto;
}

header {
    background: black;
    height: 38px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header li {
    float: left;
    margin-left: 40px;
}

header li:first-child {
    margin-right: 12px;
}

header h1, header a {
    font-size: 14.5px;
    font-family: ralewaylight;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3px;
}

span {
    color: rgb(39, 199, 171);
    font-family: ralewaybold;
}

.introduction {
    height: 503px;
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
}

.introduction .column-left, .introduction .column-right {
    float: left;
    width: 50%;
}

.column-left {
    padding-top: 60px;
}
.chair-image img {
    height: 420px;
    width: auto;
}

.column-right .banner-name {
    text-transform: uppercase;
}
.column-right .banner-name {
    font-family: ralewayregular;
}

.column-right .content {
    font-family: ralewaylight;
}

.column-right {
    margin-left: -5px;
    padding-top: 126px;
    padding-right: 130px;
}

.column-right .banner-name {
    font-size: 39px;
}

.column-right .content {
    padding-top: 28px;
    font-size: 15px;
    margin-left: -37px;
    line-height: 21px;
    text-align: center;
}